/* gradient*/
.gradient-box{
width: 500px;
height: 200px;
position: relative;
margin: 20;

}

.gradient1{
    background-image: linear-gradient(purple,blue);
}
.gradient2{
    background-image: linear-gradient(to right,purple, blue);
}
.gradient3{
    background-image: linear-gradient(to left,purple, blue);
}
